.clearfix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.van-notify--warning {
    background-color: #ff976a !important;
}
.van-notify--success {
    background-color: #07c160 !important;
}
